/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #C8A2C8;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #430050;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: black;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #C8A2C8;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #C8A2C8;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #C8A2C8;
}
.navbar .media-icons a{
  color: #C8A2C8;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: white;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}


.home{
  height: 100vh;
  width: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: white;
}
.home .text-two{
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  background-color: black;
  
  width: 70%;
  height: fit-content;
  text-decoration: none;
  
}

.home .text-two{
  transition: all 0.5s;
  -webkit-text-stroke: 4px white;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 10rem;
  text-align: left;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #430050,
  15px 15px 0px #a609da;
  
}
.home .text-two:hover{
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
  cursor: pointer;
  
}

.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: white;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background:#FF69B4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #FF69B4;
  background-color: #fff;
  color: #FF69B4;
}


section{
  padding-top: 40px;
  
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #C8A2C8;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.row {
  display: flex;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 5px;
  

}

.col-3 img{
  width: 95%;
  transition: all 0.3s ease-in-out;
}

.col-3 img:hover{
transform: scale(110%);
transition: all 0.3s ease-in-out;
}
 
 .prodpics{
  padding: 30px;
  margin:auto;
}

.desc{
  color: #C8A2C8;
  font-family: "poppins";
  font-weight: 600;

}

.col-4{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 5px;
  

}

.col-4 img{
  width: 95%;
  transition: all 0.3s ease-in-out;
}

.col-4 img:hover{
transform: scale(105%);
transition: all 0.3s ease-in-out;
}


.container1 {
  height: 100%;
  width: 98%;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  margin:2%;
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("images/Aviral.jpg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("images/Aviral.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover .ab {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("images/ayan.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("images/ayan.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover .ab{
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("images/aditi.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("images/aditi.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover .ab {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
.card3 {
  background: url("images/rishabh.jpg") center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url("images/rishabh.jpg") left center no-repeat;
  background-size: 600px;
}
.card3:hover .ab {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}
.ab {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}





/* Footer CSS */
footer{
  background: #430050;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #C8A2C8;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 998;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .row,.col-3,.col-4,.container1{
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
  }
  
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: black;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: hotpink;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: white;
  }
}
